Frame/Spring/src/test/resources/META-INF/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.code.com/schema/test"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:beans="http://www.springframework.org/schema/beans"
			targetNamespace="http://www.code.com/schema/test">

	<xsd:import namespace="http://www.springframework.org/schema/beans"/>

	<xsd:element name="applicationConfig">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="appName" type="xsd:string" use="required"/>
					<xsd:attribute name="address" type="xsd:string"/>
					<xsd:attribute name="port" type="xsd:int"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
